In [1]:
# Dependencies
import os 
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import linregress 

#Reading in Files
inc2018_df = pd.read_csv("../csv/inc2018_AK.csv")
inc2019_df = pd.read_csv("../csv/inc2019_AK.csv")

## 2018 CSV

In [2]:
inc2018_df.head()

,Unnamed: 0,url,rank,city,growth,workers,company,website,state_l,state_s,revenue,zipcode,industry,metrocode,yrs_on_list,metro,year
0,0,swanleap,1.0,Madison,75660.8425,49.0,SwanLeap,http://swanleap.com,Wisconsin,WI,98965631.0,53719.0,Logistics & Transportation,"Madison, WI",2.0,"Madison, WI",2018
1,1,popsockets,2.0,Boulder,71423.7620,118.0,PopSockets,http://popsockets.com,Colorado,CO,168837562.0,80301.0,Consumer Products & Services,"Boulder, CO",1.0,"Boulder, CO",2018
2,2,home-chef,3.0,Chicago,60165.5058,865.0,Home Chef,homechef.com,Illinois,IL,255047839.0,60611.0,Food & Beverage,"Chicago-Naperville-Elgin, IL-IN-WI",1.0,Chicago,2018
3,3,velocity-global,4.0,Denver,39816.5093,55.0,Velocity Global,http://velocityglobal.com,Colorado,CO,49175942.0,80205.0,Business Products & Services,"Denver-Aurora-Lakewood, CO",1.0,Denver,2018
4,4,depcom-power,5.0,Scottsdale,38962.9022,104.0,DEPCOM Power,depcompower.com,Arizona,AZ,219574136.0,85258.0,Energy,"Phoenix-Mesa-Scottsdale, AZ",1.0,Phoenix,2018

In [3]:
# iterating the columns
for col in inc2018_df.columns:
    print(col)

Unnamed: 0
url
rank
city
growth
workers
company
website
state_l
state_s
revenue
zipcode
industry
metrocode
yrs_on_list
metro
year

In [4]:
#df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'}, inplace=True)
inc2018_df.rename(columns={'_ - id': 'id', \
                           '_ - url': 'url', \
                           '_ - rank': 'rank',\
                           '_ - city': 'city', \
                           '_ - ifmid': 'ifmid', \
                           '_ - ifiid': 'ifiid', \
                           '_ - growth': 'growth',\
                           '_ - workers': 'workers', \
                           '_ - company': 'company', \
                           '_ - website': 'website', \
                           '_ - state_l': 'state_l',\
                           '_ - state_s': 'state_s', \
                           '_ - revenue': 'revenue', \
                           '_ - zipcode': 'zipcode', \
                           '_ - founded': 'founded',\
                           '_ - industry': 'industry', \
                           '_ - latitude': 'latitude', \
                           '_ - metrocode': 'metrocode',\
                           '_ - longitude': 'longitude', \
                           '_ - yrs_on_list': 'yrs_on_list', \
                           '_ - previous_workers': 'previous_workers', \
                           '_ - metro': 'metro',\
                           '_ - partner_lists - partner_lists': 'partner_lists'}, inplace = True)

In [5]:
inc2018_df.head()

,Unnamed: 0,url,rank,city,growth,workers,company,website,state_l,state_s,revenue,zipcode,industry,metrocode,yrs_on_list,metro,year
0,0,swanleap,1.0,Madison,75660.8425,49.0,SwanLeap,http://swanleap.com,Wisconsin,WI,98965631.0,53719.0,Logistics & Transportation,"Madison, WI",2.0,"Madison, WI",2018
1,1,popsockets,2.0,Boulder,71423.7620,118.0,PopSockets,http://popsockets.com,Colorado,CO,168837562.0,80301.0,Consumer Products & Services,"Boulder, CO",1.0,"Boulder, CO",2018
2,2,home-chef,3.0,Chicago,60165.5058,865.0,Home Chef,homechef.com,Illinois,IL,255047839.0,60611.0,Food & Beverage,"Chicago-Naperville-Elgin, IL-IN-WI",1.0,Chicago,2018
3,3,velocity-global,4.0,Denver,39816.5093,55.0,Velocity Global,http://velocityglobal.com,Colorado,CO,49175942.0,80205.0,Business Products & Services,"Denver-Aurora-Lakewood, CO",1.0,Denver,2018
4,4,depcom-power,5.0,Scottsdale,38962.9022,104.0,DEPCOM Power,depcompower.com,Arizona,AZ,219574136.0,85258.0,Energy,"Phoenix-Mesa-Scottsdale, AZ",1.0,Phoenix,2018

In [6]:
inc2018_df.drop(columns = ['url', 'zipcode', 'metrocode', 'website'], inplace = True)

inc2018_df

,Unnamed: 0,rank,city,growth,workers,company,state_l,state_s,revenue,industry,yrs_on_list,metro,year
0,0,1.0,Madison,75660.8425,49.0,SwanLeap,Wisconsin,WI,98965631.0,Logistics & Transportation,2.0,"Madison, WI",2018
1,1,2.0,Boulder,71423.7620,118.0,PopSockets,Colorado,CO,168837562.0,Consumer Products & Services,1.0,"Boulder, CO",2018
2,2,3.0,Chicago,60165.5058,865.0,Home Chef,Illinois,IL,255047839.0,Food & Beverage,1.0,Chicago,2018
3,3,4.0,Denver,39816.5093,55.0,Velocity Global,Colorado,CO,49175942.0,Business Products & Services,1.0,Denver,2018
4,4,5.0,Scottsdale,38962.9022,104.0,DEPCOM Power,Arizona,AZ,219574136.0,Energy,1.0,Phoenix,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5008,5008,4996.0,Glen Mills,57.3485,580.0,Pentec Health,Pennsylvania,PA,160781213.0,Health,9.0,Philadelphia,2018
5009,5009,4997.0,Thomasville,57.3364,12.0,Progressive Freight,Georgia,GA,10728626.0,Logistics & Transportation,2.0,NaN,2018
5010,5010,4998.0,Pottstown,57.2994,160.0,"Traffic Planning and Design, Inc.",Pennsylvania,PA,18215073.0,Engineering,4.0,Philadelphia,2018
5011,5011,4999.0,Millbury,57.2794,38.0,Weld Power Generator,Massachusetts,MA,6570866.0,Energy,6.0,NaN,2018
5012,5012,5000.0,Fargo,57.2358,69.0,Pedigree Technologies,North Dakota,ND,14266000.0,Software,7.0,NaN,2018

In [ ]:
# inc2018_df.isna().sum().sum()

In [ ]:
# inc2018_df.dropna(inplace=True)
# inc2018_df.reset_index(drop=True, inplace=True)

In [ ]:
# inc2018_df.isna().sum().sum()

In [7]:
for industry in inc2018_df['industry'].unique():
    print(industry)

Logistics & Transportation
Consumer Products & Services
Food & Beverage
Business Products & Services
Energy
Computer Hardware
Human Resources
Health
Real Estate
Government Services
Security
Advertising & Marketing
Software
Retail
Construction
Financial Services
Media
IT Management
Education
IT System Development
Travel & Hospitality
Insurance
Environmental Services
Engineering
Manufacturing
Telecommunications
nan

In [8]:
industry_sector={
    'Advertising & Marketing' : 'Multi-Sector',
    'Business Products & Services' : 'Wholesale Trade', 
    'Computer Hardware' : 'Professional, Scientific, and Technical Services',
    'Construction' : 'Construction',
    'Consumer Products & Services' : 'Multi-Sector',
    'Education' : 'Educational Services',
    'Energy' : 'Utilities', 
    'Engineering' : 'Professional, Scientific, and Technical Services',
    'Environmental Services' : 'Administrative and Support and Waste Management and Remediation Services',
    'Financial Services' : 'Finance and Insurance',
    'Food & Beverage' : 'Accommodation and Food Services',
    'Government Services' : 'Government', 
    'Health' : 'Health Care and Social Assistance',
    'Human Resources' : 'Management of Companies and Enterprises',
    'Insurance' : 'Finance and Insurance',
    'IT Services' : 'Information', 
    'Logistics & Transportation' : 'Transportation and Warehousing',
    'Manufacturing' : 'Manufacturing', 
    'Media' : 'Arts, Entertainment, and Recreation',
    'Real Estate' : 'Real Estate and Rental and Leasing',
    'Retail' : 'Retail Trade', 
    'Security' : 'Other Services (except Public Administration)',
    'Software' : 'Professional, Scientific, and Technical Services',
    'Telecommunicatons' : 'Professional, Scientific, and Technical Services',
    'Travel & Hospitality' : 'Accommodation and Food Service',
    'IT Management' : 'Professional, Scientific, and Technical Services',
    'IT System Development': 'Professional, Scientific, and Technical Services',
}

In [9]:
inc2018_df['sector']=inc2018_df['industry'].map(industry_sector)

In [11]:
inc2018_df.isna().sum().sum()

882

In [12]:
inc2018_df.dropna(inplace=True)
inc2018_df.reset_index(drop=True, inplace=True)

In [13]:
len(inc2018_df)

4295

In [55]:
def d_col_mapping(df):
    return [f'{c[0]}:{c[1]}' for c in enumerate(df.columns)]

d_col_mapping(inc2018_df)
cols_order = np.r_[12, 1, 2, 3, 4, 5, 7, 6, 8, 10, 9, 11, 13]
inc2018_df.iloc[:,cols_order]

inc2018_df.head()

,Unnamed: 0,rank,city,growth,workers,company,state_l,state_s,revenue,industry,yrs_on_list,metro,year,sector
0,0,1.0,Madison,75660.8425,49.0,SwanLeap,Wisconsin,WI,98965631.0,Logistics & Transportation,2.0,"Madison, WI",2018,Transportation and Warehousing
1,1,2.0,Boulder,71423.7620,118.0,PopSockets,Colorado,CO,168837562.0,Consumer Products & Services,1.0,"Boulder, CO",2018,Multi-Sector
2,2,3.0,Chicago,60165.5058,865.0,Home Chef,Illinois,IL,255047839.0,Food & Beverage,1.0,Chicago,2018,Accommodation and Food Services
3,3,4.0,Denver,39816.5093,55.0,Velocity Global,Colorado,CO,49175942.0,Business Products & Services,1.0,Denver,2018,Wholesale Trade
4,4,5.0,Scottsdale,38962.9022,104.0,DEPCOM Power,Arizona,AZ,219574136.0,Energy,1.0,Phoenix,2018,Utilities

In [56]:
inc2018_df.head()

,Unnamed: 0,rank,city,growth,workers,company,state_l,state_s,revenue,industry,yrs_on_list,metro,year,sector
0,0,1.0,Madison,75660.8425,49.0,SwanLeap,Wisconsin,WI,98965631.0,Logistics & Transportation,2.0,"Madison, WI",2018,Transportation and Warehousing
1,1,2.0,Boulder,71423.7620,118.0,PopSockets,Colorado,CO,168837562.0,Consumer Products & Services,1.0,"Boulder, CO",2018,Multi-Sector
2,2,3.0,Chicago,60165.5058,865.0,Home Chef,Illinois,IL,255047839.0,Food & Beverage,1.0,Chicago,2018,Accommodation and Food Services
3,3,4.0,Denver,39816.5093,55.0,Velocity Global,Colorado,CO,49175942.0,Business Products & Services,1.0,Denver,2018,Wholesale Trade
4,4,5.0,Scottsdale,38962.9022,104.0,DEPCOM Power,Arizona,AZ,219574136.0,Energy,1.0,Phoenix,2018,Utilities

## 2019 csv

In [15]:
inc2019_df.head()

,Unnamed: 0,rank,Profile,name,url,state,revenue,growth,industry,workers,yrs_on_list,previous_workers,metro,city,year
0,0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9 Million,36680.3882,Advertising & Marketing,40.0,1,5,Phoenix,Phoenix,2019
1,1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6 Million,30547.9317,Logistics & Transportation,39.0,1,8,Nashville,Brentwood,2019
2,2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9 Million,23880.4852,Food & Beverage,190.0,1,10,Austin,Austin,2019
3,3,4,https://www.inc.com/profile/ladyboss,LadyBoss,http://ladyboss.com,NM,32.4 Million,21849.8925,Consumer Products & Services,57.0,1,2,NaN,Albuquerque,2019
4,4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5 Million,18166.4070,Retail,25.0,1,6,Philadelphia,Philadelphia,2019

In [16]:
# iterating the columns
for col in inc2019_df.columns:
    print(col)

Unnamed: 0
rank
Profile
name
url
state
revenue
growth
industry
workers
yrs_on_list
previous_workers
metro
city
year

In [21]:
inc2019_df.rename(columns={'_ - rank': 'rank',\
                           '_ - Profile': 'profile', \
                           '_ - name': 'company', \
                           'url': 'url',\
                           'state': 'state',\
                           '_ - revenue': 'revenue', \
                           '_ - growth': 'growth',\
                           '_ - industry': 'industry', \
                           '_ - workers': 'workers', \
                           '_ - founded': 'founded',\
                           '_ - yrs_on_list': 'yrs_on_list', \
                           '_ - previous_workers': 'previous_workers', \
                           '_ - metro': 'metro',\
                           'city': 'city'}, inplace = True

In [25]:
inc2019_df.rename(columns={'name': 'company'}, inplace = True)

In [26]:
inc2019_df.head()

,Unnamed: 0,rank,Profile,company,url,state,revenue,growth,industry,workers,yrs_on_list,previous_workers,metro,city,year
0,0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9 Million,36680.3882,Advertising & Marketing,40.0,1,5,Phoenix,Phoenix,2019
1,1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6 Million,30547.9317,Logistics & Transportation,39.0,1,8,Nashville,Brentwood,2019
2,2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9 Million,23880.4852,Food & Beverage,190.0,1,10,Austin,Austin,2019
3,3,4,https://www.inc.com/profile/ladyboss,LadyBoss,http://ladyboss.com,NM,32.4 Million,21849.8925,Consumer Products & Services,57.0,1,2,NaN,Albuquerque,2019
4,4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5 Million,18166.4070,Retail,25.0,1,6,Philadelphia,Philadelphia,2019

In [30]:
inc2019_df.drop(columns = ['Profile', 'url', 'previous_workers'], inplace=True)

In [31]:
industry_sector={
    'Advertising & Marketing' : 'Multi-Sector',
    'Business Products & Services' : 'Wholesale Trade', 
    'Computer Hardware' : 'Professional, Scientific, and Technical Services',
    'Construction' : 'Construction',
    'Consumer Products & Services' : 'Multi-Sector',
    'Education' : 'Educational Services',
    'Energy' : 'Utilities', 
    'Engineering' : 'Professional, Scientific, and Technical Services',
    'Environmental Services' : 'Administrative and Support and Waste Management and Remediation Services',
    'Financial Services' : 'Finance and Insurance',
    'Food & Beverage' : 'Accommodation and Food Services',
    'Government Services' : 'Government', 
    'Health' : 'Health Care and Social Assistance',
    'Human Resources' : 'Management of Companies and Enterprises',
    'Insurance' : 'Finance and Insurance',
    'IT Services' : 'Information', 
    'Logistics & Transportation' : 'Transportation and Warehousing',
    'Manufacturing' : 'Manufacturing', 
    'Media' : 'Arts, Entertainment, and Recreation',
    'Real Estate' : 'Real Estate and Rental and Leasing',
    'Retail' : 'Retail Trade', 
    'Security' : 'Other Services (except Public Administration)',
    'Software' : 'Professional, Scientific, and Technical Services',
    'Telecommunicatons' : 'Professional, Scientific, and Technical Services',
    'Travel & Hospitality' : 'Accommodation and Food Service',
    'IT Management' : 'Professional, Scientific, and Technical Services',
    'IT System Development': 'Professional, Scientific, and Technical Services',
}

In [32]:
inc2019_df['sector']=inc2019_df['industry'].map(industry_sector)

In [33]:
inc2019_df.head()

,Unnamed: 0,rank,company,state,revenue,growth,industry,workers,yrs_on_list,metro,city,year,sector
0,0,1,Freestar,AZ,36.9 Million,36680.3882,Advertising & Marketing,40.0,1,Phoenix,Phoenix,2019,Multi-Sector
1,1,2,FreightWise,TN,33.6 Million,30547.9317,Logistics & Transportation,39.0,1,Nashville,Brentwood,2019,Transportation and Warehousing
2,2,3,Cece's Veggie Co.,TX,24.9 Million,23880.4852,Food & Beverage,190.0,1,Austin,Austin,2019,Accommodation and Food Services
3,3,4,LadyBoss,NM,32.4 Million,21849.8925,Consumer Products & Services,57.0,1,NaN,Albuquerque,2019,Multi-Sector
4,4,5,Perpay,PA,22.5 Million,18166.4070,Retail,25.0,1,Philadelphia,Philadelphia,2019,Retail Trade

In [34]:
inc2019_df.isna().sum().sum()

893

In [38]:
inc2019_df.dropna(inplace=True)
inc2019_df.reset_index(drop=True, inplace=True)

In [39]:
len(inc2019_df)

4138

In [40]:
inc2019_df.head()

,Unnamed: 0,rank,company,state,revenue,growth,industry,workers,yrs_on_list,metro,city,year,sector
0,0,1,Freestar,AZ,36.9 Million,36680.3882,Advertising & Marketing,40.0,1,Phoenix,Phoenix,2019,Multi-Sector
1,1,2,FreightWise,TN,33.6 Million,30547.9317,Logistics & Transportation,39.0,1,Nashville,Brentwood,2019,Transportation and Warehousing
2,2,3,Cece's Veggie Co.,TX,24.9 Million,23880.4852,Food & Beverage,190.0,1,Austin,Austin,2019,Accommodation and Food Services
3,4,5,Perpay,PA,22.5 Million,18166.4070,Retail,25.0,1,Philadelphia,Philadelphia,2019,Retail Trade
4,5,6,Cano Health,FL,271.8 Million,14183.4118,Health,742.0,1,Miami,Miami,2019,Health Care and Social Assistance

In [49]:
# https://towardsdatascience.com/reordering-pandas-dataframe-columns-thumbs-down-on-standard-solutions-1ff0bc2941d5
# site where above function came from
# doesn't save on origina data set tho,,,iloc...forgot about that.....

def d_col_mapping(df):
    return [f'{c[0]}:{c[1]}' for c in enumerate(df.columns)]

d_col_mapping(inc2019_df)
cols_order = np.r_[11, 1, 10, 5, 7, 2, 3, 4,8, 6, 9, 12]
inc2019_df.iloc[:,cols_order]

,year,rank,city,growth,workers,company,state,revenue,yrs_on_list,industry,metro,sector
0,2019,1,Phoenix,36680.3882,40.0,Freestar,AZ,36.9 Million,1,Advertising & Marketing,Phoenix,Multi-Sector
1,2019,2,Brentwood,30547.9317,39.0,FreightWise,TN,33.6 Million,1,Logistics & Transportation,Nashville,Transportation and Warehousing
2,2019,3,Austin,23880.4852,190.0,Cece's Veggie Co.,TX,24.9 Million,1,Food & Beverage,Austin,Accommodation and Food Services
3,2019,5,Philadelphia,18166.4070,25.0,Perpay,PA,22.5 Million,1,Retail,Philadelphia,Retail Trade
4,2019,6,Miami,14183.4118,742.0,Cano Health,FL,271.8 Million,1,Health,Miami,Health Care and Social Assistance
...,...,...,...,...,...,...,...,...,...,...,...,...
4133,2019,4992,Conroe,52.4803,19.0,American Thermal Systems,TX,9.3 Million,1,Construction,Houston,Construction
4134,2019,4993,Baton Rouge,52.4442,16.0,Red Six Media,LA,2 Million,1,Advertising & Marketing,"Baton Rouge, LA",Multi-Sector
4135,2019,4995,Cerritos,52.3467,99.0,Golden Star Technology,CA,154.4 Million,5,IT Services,Los Angeles,Information
4136,2019,4996,Houston,52.2377,88.0,Village Plumbing & Air,TX,15.8 Million,3,Consumer Products & Services,Houston,Multi-Sector
4137,2019,4997,Chicago,52.2127,380.0,Real Restoration Group,IL,11.6 Million,1,Construction,Chicago,Construction