In [1]:
# Dependencies
import os 
import pandas as pd 
import numpy as np
from sqlalchemy import create_engine

#Reading in Files
inc2018_df = pd.read_csv("../csv/inc2018_AK.csv")
inc2019_df = pd.read_csv("../csv/inc2019_AK.csv")
#inc10years_df = pd.read_csv("resource/inc5000_all10years.csv", encoding='cp1252')

In [2]:
# print inc2018_df
inc2018_df.head()

,Unnamed: 0,url,rank,city,growth,workers,company,website,state_l,state_s,revenue,zipcode,industry,metrocode,yrs_on_list,metro,year
0,0,swanleap,1.0,Madison,75660.8425,49.0,SwanLeap,http://swanleap.com,Wisconsin,WI,98965631.0,53719.0,Logistics & Transportation,"Madison, WI",2.0,"Madison, WI",2018
1,1,popsockets,2.0,Boulder,71423.7620,118.0,PopSockets,http://popsockets.com,Colorado,CO,168837562.0,80301.0,Consumer Products & Services,"Boulder, CO",1.0,"Boulder, CO",2018
2,2,home-chef,3.0,Chicago,60165.5058,865.0,Home Chef,homechef.com,Illinois,IL,255047839.0,60611.0,Food & Beverage,"Chicago-Naperville-Elgin, IL-IN-WI",1.0,Chicago,2018
3,3,velocity-global,4.0,Denver,39816.5093,55.0,Velocity Global,http://velocityglobal.com,Colorado,CO,49175942.0,80205.0,Business Products & Services,"Denver-Aurora-Lakewood, CO",1.0,Denver,2018
4,4,depcom-power,5.0,Scottsdale,38962.9022,104.0,DEPCOM Power,depcompower.com,Arizona,AZ,219574136.0,85258.0,Energy,"Phoenix-Mesa-Scottsdale, AZ",1.0,Phoenix,2018

In [3]:
# iterating the columns of inc2018_df
for col in inc2018_df.columns:
    print(col)

Unnamed: 0
url
rank
city
growth
workers
company
website
state_l
state_s
revenue
zipcode
industry
metrocode
yrs_on_list
metro
year

In [4]:
# rename column for 2018 csv
df2018= inc2018_df.rename(columns={'_ - id': 'id', \
                           '_ - url': 'url', \
                           '_ - rank': 'rank',\
                           '_ - city': 'city', \
                           '_ - ifmid': 'ifmid', \
                           '_ - ifiid': 'ifiid', \
                           '_ - growth': 'growth',\
                           '_ - workers': 'workers', \
                           '_ - company': 'company', \
                           '_ - website': 'website', \
                           '_ - state_l': 'state_l',\
                           '_ - state_s': 'state_s', \
                           '_ - revenue': 'revenue', \
                           '_ - zipcode': 'zipcode', \
                           '_ - founded': 'founded',\
                           '_ - industry': 'industry', \
                           '_ - latitude': 'latitude', \
                           '_ - metrocode': 'metrocode',\
                           '_ - longitude': 'longitude', \
                           '_ - yrs_on_list': 'yrs_on_list', \
                           '_ - previous_workers': 'previous_workers', \
                           '_ - metro': 'metro',\
                           '_ - partner_lists - partner_lists': 'partner_lists'})

In [5]:
# inserting column "year" 2018
df2018['year'] = '2018'

In [6]:
# selecting and ordering columns to be in 2018 dataframe
df2018_clean = df2018[["year","rank", "city", "growth", "workers", "company", "state_s", "state_l", "revenue", "yrs_on_list", "industry", "metro"]]
df2018_clean.head()

,year,rank,city,growth,workers,company,state_s,state_l,revenue,yrs_on_list,industry,metro
0,2018,1.0,Madison,75660.8425,49.0,SwanLeap,WI,Wisconsin,98965631.0,2.0,Logistics & Transportation,"Madison, WI"
1,2018,2.0,Boulder,71423.7620,118.0,PopSockets,CO,Colorado,168837562.0,1.0,Consumer Products & Services,"Boulder, CO"
2,2018,3.0,Chicago,60165.5058,865.0,Home Chef,IL,Illinois,255047839.0,1.0,Food & Beverage,Chicago
3,2018,4.0,Denver,39816.5093,55.0,Velocity Global,CO,Colorado,49175942.0,1.0,Business Products & Services,Denver
4,2018,5.0,Scottsdale,38962.9022,104.0,DEPCOM Power,AZ,Arizona,219574136.0,1.0,Energy,Phoenix

In [7]:
inc2019_df.head()

,Unnamed: 0,rank,Profile,name,url,state,revenue,growth,industry,workers,yrs_on_list,previous_workers,metro,city,year
0,0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9 Million,36680.3882,Advertising & Marketing,40.0,1,5,Phoenix,Phoenix,2019
1,1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6 Million,30547.9317,Logistics & Transportation,39.0,1,8,Nashville,Brentwood,2019
2,2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9 Million,23880.4852,Food & Beverage,190.0,1,10,Austin,Austin,2019
3,3,4,https://www.inc.com/profile/ladyboss,LadyBoss,http://ladyboss.com,NM,32.4 Million,21849.8925,Consumer Products & Services,57.0,1,2,NaN,Albuquerque,2019
4,4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5 Million,18166.4070,Retail,25.0,1,6,Philadelphia,Philadelphia,2019

In [8]:
# iterating the columns
for col in inc2019_df.columns:
    print(col)

Unnamed: 0
rank
Profile
name
url
state
revenue
growth
industry
workers
yrs_on_list
previous_workers
metro
city
year

In [15]:
# rename columns for 2019 csv
#df2019= inc2019_df.rename(columns={'_ - rank': 'rank',\
#                           '_ - Profile': 'profile', \
#                           '_ - name': 'company', \
#                           'url': 'url',\
#                           'state': 'state_s',\
#                           '_ - revenue': 'revenue', \
#                           '_ - growth': 'growth',\
#                           '_ - industry': 'industry', \
#                           '_ - workers': 'workers', \
#                           '_ - founded': 'founded',\
#                           '_ - yrs_on_list': 'yrs_on_list', \
#                           '_ - previous_workers': 'previous_workers', \
#                           '_ - metro': 'metro',\
#                           'city': 'city'})

inc2019_df14 = inc2019_df.drop(columns = 'Unnamed: 0')
# rename columns for 2019 csv

In [17]:
inc2019_df14.columns = ['rank', 'Profile', 'company', 'url', 'state_s', 'revenue', 'growth', 'industry', 'workers', 'founded', 'yrs_on_list', 'previous_workers', 'metro', 'city']
df2019 = inc2019_df14
df2019.head()

,rank,Profile,company,url,state_s,revenue,growth,industry,workers,founded,yrs_on_list,previous_workers,metro,city
0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9 Million,36680.3882,Advertising & Marketing,40.0,1,5,Phoenix,Phoenix,2019
1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6 Million,30547.9317,Logistics & Transportation,39.0,1,8,Nashville,Brentwood,2019
2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9 Million,23880.4852,Food & Beverage,190.0,1,10,Austin,Austin,2019
3,4,https://www.inc.com/profile/ladyboss,LadyBoss,http://ladyboss.com,NM,32.4 Million,21849.8925,Consumer Products & Services,57.0,1,2,NaN,Albuquerque,2019
4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5 Million,18166.4070,Retail,25.0,1,6,Philadelphia,Philadelphia,2019

In [18]:
# inserting column "year" = 2019
df2019['year'] = '2019'

# inserting column "state_l" for concating data frame purposes
df2019["state_l"] = " "

df2019.head()

,rank,Profile,company,url,state_s,revenue,growth,industry,workers,founded,yrs_on_list,previous_workers,metro,city,year,state_l
0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9 Million,36680.3882,Advertising & Marketing,40.0,1,5,Phoenix,Phoenix,2019,2019,
1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6 Million,30547.9317,Logistics & Transportation,39.0,1,8,Nashville,Brentwood,2019,2019,
2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9 Million,23880.4852,Food & Beverage,190.0,1,10,Austin,Austin,2019,2019,
3,4,https://www.inc.com/profile/ladyboss,LadyBoss,http://ladyboss.com,NM,32.4 Million,21849.8925,Consumer Products & Services,57.0,1,2,NaN,Albuquerque,2019,2019,
4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5 Million,18166.4070,Retail,25.0,1,6,Philadelphia,Philadelphia,2019,2019,

In [19]:
# selecting and ordering columns to be in 2019 dataframe
df2019_clean = df2019[["year","rank", "city", "growth", "workers", "company", "state_s", "state_l", "revenue", "yrs_on_list", "industry", "metro"]]
df2019_clean.head()

,year,rank,city,growth,workers,company,state_s,state_l,revenue,yrs_on_list,industry,metro
0,2019,1,2019,36680.3882,40.0,Freestar,AZ,,36.9 Million,5,Advertising & Marketing,Phoenix
1,2019,2,2019,30547.9317,39.0,FreightWise,TN,,33.6 Million,8,Logistics & Transportation,Brentwood
2,2019,3,2019,23880.4852,190.0,Cece's Veggie Co.,TX,,24.9 Million,10,Food & Beverage,Austin
3,2019,4,2019,21849.8925,57.0,LadyBoss,NM,,32.4 Million,2,Consumer Products & Services,Albuquerque
4,2019,5,2019,18166.4070,25.0,Perpay,PA,,22.5 Million,6,Retail,Philadelphia

In [20]:
# combining/concatenating df2018 and df2019
df2018_2019_concat = pd.concat([df2018_clean, df2019_clean], axis=0)
df2018_2019_concat.head()

,year,rank,city,growth,workers,company,state_s,state_l,revenue,yrs_on_list,industry,metro
0,2018,1.0,Madison,75660.8425,49.0,SwanLeap,WI,Wisconsin,98965631.0,2.0,Logistics & Transportation,"Madison, WI"
1,2018,2.0,Boulder,71423.7620,118.0,PopSockets,CO,Colorado,168837562.0,1.0,Consumer Products & Services,"Boulder, CO"
2,2018,3.0,Chicago,60165.5058,865.0,Home Chef,IL,Illinois,255047839.0,1.0,Food & Beverage,Chicago
3,2018,4.0,Denver,39816.5093,55.0,Velocity Global,CO,Colorado,49175942.0,1.0,Business Products & Services,Denver
4,2018,5.0,Scottsdale,38962.9022,104.0,DEPCOM Power,AZ,Arizona,219574136.0,1.0,Energy,Phoenix

In [21]:
industry_sector={
    'Advertising & Marketing' : 'Multi-Sector',
    'Business Products & Services' : 'Wholesale Trade',
    'Computer Hardware' : 'Professional, Scientific, and Technical Services',
    'Construction' : 'Construction',
    'Consumer Products & Services' : 'Multi-Sector',
    'Education' : 'Educational Services',
    'Energy' : 'Utilites',
    'Engineering' : 'Professional, Scientific, and Technical Services',
    'Environmental Services' : 'Administrative and Support and Waste Management and Remediation Services',
    'Financial Services' : 'Finance and Insurance',
    'Food & Beverage' : 'Accommodation and Food Services',
    'Government Services' : 'Government',
    'Health' : 'Health Care and Social Assistance',
    'Human Resources' : 'Management of Companies and Enterprises',
    'Insurance' : 'Finance and Insurance',
    'IT Services' : 'Information',
    'Logistics & Transportation' : 'Transportation and Warehousing',
    'Manufacturing' : 'Manufacturing',
    'Media' : 'Arts, Entertainment, and Recreation',
    'Real Estate' : 'Real Estate and Rental and Leasing',
    'Retail' : 'Retail Trade',
    'Security' : 'Other Services (except Public Administration)',
    'Software' : 'Professional, Scientific, and Technical Services',
    'Telecommunicatons' : 'Professional, Scientific, and Technical Services',
    'Travel & Hospitality' : 'Accommodation and Food Services',
    'IT Management' : 'Professional, Scientific, and Technical Services',
    'IT System Development': 'Professional, Scientific, and Technical Services',
}

In [22]:
# code mapping : df['Capital'] = df['Country'].map(country_capital)
# code insert to column index : df.insert(2, 'new-col', data)

# add sector based on mapping by industry
df2018_2019_concat['Sector'] = df2018_2019_concat['industry'].map(industry_sector)

In [23]:
df2018_2019_concat.head()

,year,rank,city,growth,workers,company,state_s,state_l,revenue,yrs_on_list,industry,metro,Sector
0,2018,1.0,Madison,75660.8425,49.0,SwanLeap,WI,Wisconsin,98965631.0,2.0,Logistics & Transportation,"Madison, WI",Transportation and Warehousing
1,2018,2.0,Boulder,71423.7620,118.0,PopSockets,CO,Colorado,168837562.0,1.0,Consumer Products & Services,"Boulder, CO",Multi-Sector
2,2018,3.0,Chicago,60165.5058,865.0,Home Chef,IL,Illinois,255047839.0,1.0,Food & Beverage,Chicago,Accommodation and Food Services
3,2018,4.0,Denver,39816.5093,55.0,Velocity Global,CO,Colorado,49175942.0,1.0,Business Products & Services,Denver,Wholesale Trade
4,2018,5.0,Scottsdale,38962.9022,104.0,DEPCOM Power,AZ,Arizona,219574136.0,1.0,Energy,Phoenix,Utilites

In [24]:
# create database connection
connection_string = "postgres:postgres@localhost:5432/Sector_Comparison"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
# confirm tables
engine.table_names()

In [ ]:
# load database into database
df2018_2019_concat.to_sql(name='', con=engine, if_exist=append, index=True)

In [ ]:
#df2018_2019_concat.to_csv('inc2018_2019.csv')